:root{
    --submit-color: #596D48;
    --inputs-color: #E5E7EB;
}
@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

#container {
    display: flex;

}

#visual{
    position: relative;
    height: 100vh;
    background-image:url("halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex:1;
}

#credits{
    position:absolute;
    bottom: 2px;
    width: 100%;
    text-align: center;
    color: white;
}
#credits a {
    color: white;
}

#logo{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    background: rgba(0, 0, 0,  .5);
    color: white;
    position: relative;
    top: 20vh;
    font-family: Norse-Bold, sans-serif;
    font-weight: bold;
    font-size: 2rem;

}
#logo img{
    width: 110px;
    height: 155px;
}

#main {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4vh;
    padding-right: 4vh;
    
}

#main  div{
    
}

h1 {
    
}

button {
    background-color: var(--submit-color);
}

input {
    /* border-color: var(--inputs-color); */
}
.line{
    display: flex;
}

.line div{
    flex: 1;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 1vh;
}
.line div label, .line div input{
    flex: 1;
}
.row a{
    color: var(--submit-color)
}
fieldset{
    border-style: hidden;
}

input[type="password"]{
    border-color: red;
}


input:focus{
    /* border-color: aqua; */
    outline: 1px solid aqua;
}